<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
    <h2> Products</h2>

    <div th:each="product : ${products}"><br/> <br/>
        <form action="basket/add" method="post">
            <p> <span th:text="${product.productName}"/></p>
            <p> Product Id: <span th:text="${product.productId}"/> </p>
            <p> Product category: <span th:text="${product.productCategory}"/> </p>
            <p> Price: <span th:text="${product.productPrice}"/> </p>
            <p> Amount: <input type="number" name="quantity" value="0"></p>
            <p> <input type="submit" value="Add"></p>
            <input type="hidden" name="productId" th:value="${product.productId}" />
        </form>

    </div>

</body>
</html>